html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Helvetica, sans-serif; /* Secondary font for headings */
}

header {
    background-color: #005792;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.profile-pic {
    max-width: 150px;
    border-radius: 50%;
}

.research-info {
    padding: 5px 25px; 
    color: blue; /* This will apply the browser's default blue */
}

h1, h2 {
    color: #003d5b;
    font-family: 'Lato', Helvetica, sans-serif; /* Secondary font for headings */
}

ul {
    color: #003d5b;
    list-style-type: none;
    padding: 20px;
}
