html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Helvetica, sans-serif; /* Use Lato as the primary font */
    line-height: 1.6;
    color: hsl(0, 0%, 20%);
    background: #f4f4f4;
}

section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
    max-width: 800px;
    margin: 20px auto;
}

header {
    display: flex;
    flex-direction: column; /* Organizes children vertically */
    align-items: center; /* Horizontally centers the child content */
    justify-content: center; /* Vertically centers the child content */
    background-color: #005792;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Profile Info Styles */
.profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px; /* Adds space above the nav menu */
    flex-direction: column; /* Organizes children vertically */
    align-items: center; /* Horizontally centers the child content */
    justify-content: center; /* Vertically centers the child content */
    background-color: #005792;
    color: #fff;
    padding: 20px 0;
    top: 0;
    z-index: 1000;
}

.profile-info a, .profile-info, a:visited {
    color: #ffffff; /* Keeps link color white even after being visited */
    text-decoration: none; /* Optional: removes underline from links */
}

/* .profile-text a:visited {
    color: blue;
} */

.profile-text a:link,
.profile-text a:visited,
.profile-text a:hover,
.profile-text a:active {
  color: #ffffff; /* Keeps the link black */
  text-decoration: none; /* Optional: Removes the underline from links */
}

.profile-info a:hover {
    text-decoration: underline; /* Optional: Adds underline on hover for better user experience */
  }

.profile-pic {
    width: 100px; /* Adjust the size of the image as needed */
    height: 100px; /* Adjust the height to maintain aspect ratio */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the area, useful if adjusting size */
    margin-right: 20px; /* Adds some space between the image and the text */
}

.profile-text {
    display: flex;
    flex-direction: column; /* Stacks the name and email vertically */
    justify-content: center; /* Centers the text vertically in relation to the image */
}

.profile-text h1, .profile-text p {
    margin: 0;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 1px;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover, nav a:focus {
    background-color: #cc4100;
}

/* General Element Styles */
h1 {
    color: #92a1f7;
    margin-bottom: 8px;

}

h2, .container h2, .container h3 {
    color: #4e61c8;
    margin-bottom: 8px;

}

.container p, .container ul {
    margin-top: 0;
    margin-bottom: 16px;
}

.teaching-list {
    list-style-type: disc;
    margin-left: 0px;
}

.project-list {
    list-style-type: square;
    margin-left: 0px;
}

.publication-info {
    font-family: 'Lato', Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto; 
}
.publication-info h1 {
    font-size: 36px;
    color: rgb(0, 0, 107);
    text-align: left;
}
.publication-list {
    list-style-type: square;
    margin-left: 0px;
}
/* .publication-list li {
    font-size: 18px;
}
.publication-list li strong {
    list-style-type: square;
    margin-left: 0px;
} */


.toggle-button {
    background: none;
    border: none;
    color: #007bb5;
    cursor: pointer;
    font-size: inherit;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Small screens */
@media (max-width: 768px) {
    .hamburger {
        display: block; /* Show hamburger icon */
    }

    nav ul {
        display: none; /* Hide menu */
        flex-direction: column; /* Stack menu items vertically */
    }

    nav ul li {
        margin: 0; /* Remove margins */
    }

    nav ul li a {
        padding: 10px;
    }
}


/* Responsive Design */
@media (max-width: 768px) {
    .profile-info, nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Improved readability for larger screens */
@media (min-width: 1024px) {
    .container {
        padding: 0 20px;
    }
}

.site-footer {
    background-color: #005792;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
.site-footer .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.site-footer a:link,
.site-footer a:visited,
.site-footer a:hover,
.site-footer a:active {
  color: #ffffff; /* Keeps the link black */
  text-decoration: none; /* Optional: Removes the underline from links */
}

.site-footer a:hover {
  text-decoration: underline; /* Optional: Adds underline on hover for better user experience */
}

.apa-reference {
    font-family: Arial, sans-serif;
    font-size: 14px;
}